@model KittyCatMVC.Models.KittyCat

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">
            <h1 class="fw-bold lh-1 mb-3">KITTYCAT: A Coding Project</h1>
            <h5 class="lead border-bottom pb-5">When it counts you KITTY CAT. A javascript coding exercise using loops.
                Write a program that prints the numbers from 1 to 100 and multiples of '3' display <strong>"KITTY"</strong> instead of number and for the multiples of '5' display <strong>"CAT"</strong> multiple of both display <strong>KITTYCAT</strong>.
            </h5>
            <h3 class="pt-4">Instructions</h3>
            <h5 class="lead">Enter a kitty and cat value. Press the button and the values will appear.
                <br>You can also put in values from 1 to 9 to see your <strong>KITTYCAT</strong> matchs.
            </h5>
        </div>
        <div id="borderCOL" class="col-lg-8 border-start">
            <h5>Enter Values</h5>
            <form asp-controller="Home" asp-action="KCPage" method="post" class="row row-cols-1 row-cols-lg-2 gy-3 gx-2">
                <div class="col">
                    <input id="kittyValue" type="number" asp-for="KittyValue" class="form-control" placeholder="Kitty Value" value="@Model.KittyValue" aria-label="Kitty Value">
                </div>
                <div class="col">
                    <input id="catValue" type="number" asp-for="CatValue" class="form-control" placeholder="Cat Value" value="@Model.CatValue" aria-label="Cat Value">
                </div>
                <div class="col col-lg-12 d-flex justify-content-end">
                    <button id="btnSubmit" type="submit" class="btn-outline-dark btn-lg px-4 me-md-2">KITTYCAT</button>
                </div>
            </form>
            <h3 class="mt-5 border-bottom">Results</h3>
            <div class="table-responsive">
                @*table goes here*@
                @if (@Model.Result.Count > 0)
                {
                  <table class = "table-responsive table-striped table-hover table table-dark">
                      <thead>
                          <tr><th colspan="5">Kitty Cat Results</th></tr>
                      </thead>
                        @for(int i = 0 ; i < Model.Result.Count(); i += 5)
                        {
                            <tr>
                                <td>@Model.Result[i]</td>
                                <td>@Model.Result[i+1]</td>
                                <td>@Model.Result[i+2]</td>
                                <td>@Model.Result[i+3]</td>
                                <td>@Model.Result[i+4]</td>
                            </tr>
                        } 
                    </table>
                }
            </div>
        </div>
    </div>
</div>